body{
    margin-top: 100px;
    margin-left: 40%;
}

.header{
    margin-top: -40px;
    margin-left: -240px;
    margin-bottom: 50px;
    font-size: 30px;
}

.button{

}

.clearButton{
    width: 100%;
}

.predictButton{

}

